# =========================
# Dependencias Node.js
# =========================

node_modules/


# =========================
# Variables privadas
# =========================

.env


# =========================
# Archivos de logs
# =========================

*.log
npm-debug.log*


# =========================
# Archivos del sistema
# =========================

.DS_Store
Thumbs.db


# =========================
# Configuración VS Code
# =========================

.vscode/